.root {
  width: 100%;
  flex-direction: row;
  flex: 1;
}

.button {
  flex: 1;
}

.buy {
  background-color: transparent;
  border: 1px solid var(--color-success-main);
  color: var(--color-success-main);
}

.buy[data-selected='true'] {
  background-color: var(--color-success-main);
  color: #fff;
}

.sell {
  background-color: transparent;
  border: 1px solid var(--color-error-main);
  color: var(--color-error-main);
}

.sell[data-selected='true'] {
  background-color: var(--color-error-main);
  color: #fff;
}

.buyText {
  color: inherit;
}

.sellText {
  color: inherit;
}
